h1 {
    padding-left: 200px;
}

 textarea {
     color: white;
     font-size: 22px;
     width: 100%;
     resize: vertical;
     padding: 15px;
     border-radius: 15px;
     border: 0;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
     height: 150px;
     background-color: #292929;
 }

form input {
    color: white;
    margin: 10px 0;
    padding: 12px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    background-color: #292929;
}

 .post {
     display: flex;
     flex-direction: column;
     padding: 30px 30px 30px 0;
     border: 1px #bd0000;
 }

 .post-text {
     margin-top: 4px;
     font-size: 22px;
     text-decoration: none;
     color: #d3d3d3;
 }


 .userInfo {
     display: flex;
     flex-direction: row;
     margin-bottom: 10px;
 }

 .name {
     font-size: 26px;
 }

 .date {
     padding-top: 4px;
 }

 .info {
     color: white;
     display: flex;
     flex-direction: column;
     margin-right: 10px;
 }